extends ../layout

include ../mixins/ErrorWrapper.pug

append scripts
	script(type="text/javascript" src="/javascripts/depot.js", defer)

block content
	div
		h1 Registration Request Depot
		p Approve/deny incoming user registration requests.

	if users.length
		form#DepotForm(action="/admin/user-depot" method="post")
			+ErrorWrapper("depot"): .iAlignLeft.Box.Flexbox.mCol.mMinSpacing
				.cLabel: b Req. Depot 
				.llabel.tGray: small #[b move/sel:] [↑, ↓, TAB] | #[b approve:] [`]

				table 
					thead
						tr 
							th(scope="column") Name
							th(scope="column") Email
							th(scope="column") ORCiD
							th(scope="column") Phone
							th(scope="column") Sp. Roles
							th(scope="column") Approve

					each u in users
						tbody.RegistrationRequest(tabindex=0)
							tr
								th(scope="row" rowspan=u.creationComment ? 2 : 1)=u.username
								td=u.email
								td: span(class=u.orcid ? "" : "tGray")=u.orcid
								td: span(class=u.phone ? "" : "tGray")=u.phone || "NULL"

								td: input.roleField(type="text" name=`roles-${u._id}` placeholder="L.C. alphanumeric & \"-\", comma sep.")

								td: .statusField.Flexbox.mMinSpacing
									.RadioGroup.Flexbox
										label ✓
											input(type="radio" name=`status-${u._id}`, value="approve").mButton

										label X
											input(type="radio" name=`status-${u._id}` value="reject").mButton

									label Defer
										input(type="radio" name=`status-${u._id}` value="defer" checked).mButton

							if u.creationComment 
								tr: td(colspan=6)
									small Comment: 
									small.tGray=`"${u.creationComment}"`


				button(type="submit").mGreen.iAlignRight Process Requests

	else
		.Box.mSolid.mOutline.iAlignLeft 
			h2 No pending requests
			p All incoming user creation requests have been resolved.