extends layout

append stylesheets
	link(rel="stylesheet", href="/stylesheets/ranker.css")

append scripts
	script(type="text/javascript", src="/javascripts/ranker.js", defer)

block content
	h1 LLM Ranker

	if prc
		form#Ballot(method="post").Box.mRoomy.Flexbox.mCol.mCmpSpacing
			input(type="hidden", name="prc", value=prc._id)
			
			.llabel.tGray: small #[b select:] [<-, ->] | #[b rank:] [1-#{prc.responses.length}] | #[b status:] [`] | #[b submit:] [s|enter]
			.clabel: b LLM Ranker
			.rLabel ID: #{String(prc._id).slice(10)}

			.Box.mSolid: p: b!=prc.input

			.Flexbox.mVertCenter.mMinSpacing
				b.uNoWrap LLM Responses:
				.Divider 

			#Responses.Flexbox.mMinSpacing
				each response, index in prc.responses
					.Response(tabindex="0", id=`response-${index}`).iAlignTop 
						.header.Flexbox.mVertStart
							h2.modelName(data-index=index) LLM-#{String.fromCharCode(65 + index)}

							.ranker.RadioGroup(data-rank="?").Flexbox
								each i in Array.from({length: prc.responses.length}, (v,i) => i+1)
									label(title=`Assign rank ${i}\nShortcut: [${i}]`)=i
										input(type="radio", id=`radio-${index}-${i}`, name=`rank-${response.llm._id}`, value=i).mButton

							.status.RadioGroup.Flexbox
								label.pass(title=`Assign "pass" status\nShortcut: [\`]`) ✓
									input(type="radio", id=`radio-${index}-p`, name=`status-${response.llm._id}`, value="pass", checked).mButton

								label.fail(title=`Assign "fail" status\nShortcut: [\`]`) X
									input(type="radio", id=`radio-${index}-f`, name=`status-${response.llm._id}`, value="fail").mButton

							.rankDisplay ?

						.content!=response.renderContent()

			.Flexbox.mVertCenter.mMinSpacing
				label.mReq: b Rationale:
				.Divider 

			.Flexbox.mMinSpacing 
				textarea#Rationale(name="rationale", style="flex-grow: 1", rows=4, placeholder="Describe the rationale for your ranking choices...", required)
				
				.Flexbox.mCol.mMinSpacing 
					.Filler
					button(type="submit", title="Submit ranking\nShortcut: [s]").mGreen Submit

	else 
		.Box.mSolid.mOutline.iAlignLeft
			h2 No PRC Available
			p.mReadWidth Evaluated all available responses. Check for updated entries in 24 hours.