extends layout

append stylesheets
	link(rel="stylesheet", href="/stylesheets/user.css")

append scripts
	script(type="text/javascript", src="/javascripts/user.js", defer)

block content
	div
		h1 User Mgmt.
		p View and edit your user instance information.

	.Flexbox.mCmpSpacing
		form#InfoForm(action="/user/edit-info", method="post").Box.iAlignLeft.Flexbox.mCol.mMinSpacing
			.lLabel: b User Info. 
			.rLabel + Info. Form
			
			table 
				tr 
					th(scope="row") ID:
					td!=user.username

				tr 
					th(scope="row") Roles: 

					if user.roles
						td!=user.roles.join(', ')

					else 
						td: span.tGray [EMPTY]

			table 
				tr
					th(scope="row"): label(for="EmailField") Email:
					td: input#EmailField(type="email" name="email" value=user.email placeholder="NULL")

				tr
					if user.orcid 
						th(scope="row") ORCiD:
						td=user.orcid
						
					else 
						th(scope="row"): label(for="ORCiDField") ORCiD:

						td
							button#ORCiDButton(type="button") Add ORCiD

							#ORCiDSection
								input#ORCiDField(type="text" value="" name="orcid" placeholder="NULL")
								p.tGray: small Your ORCiD iD can only be updated once.


				tr
					th(scope="row"): label(for="PhoneField") Phone:
					td: input#PhoneField(type="text" name="phone" value=user.phone placeholder="NULL")

			button(type="submit").iAlignRight.mGreen Update Info

		if flash && flash.errors
			.Box.mSolid.mOutline.mRed.iAlignTop
				h2 <- Form Error(s)
				
				ul
					each error in flash.errors
						li(data-field=error.path)=error.msg


