extends layout

include ./mixins/ErrorWrapper.pug

append scripts
	script(type="text/javascript" src="/javascripts/user.js", defer)

block content
	div
		h1 User Mgmt.
		p View and edit your user instance information.

	form#InfoForm(action="/user/edit-info" method="post")
		+ErrorWrapper("info"): .Box.Flexbox.mCol.mMinSpacing
			.lLabel: b User Info. 
			.rLabel + Info. Form
			
			input(type="hidden", name="uid", value=user._id)

			table 
				tr 
					th(scope="row") ID:
					td!=user.username

				tr 
					th(scope="row") Roles: 

					if user.roles
						td!=user.roles.join(', ')

					else 
						td: span.tGray [EMPTY]

				tr 
					th(scope="row") ORCiD:
					td!=user.orcid

			table 
				tr
					th(scope="row"): label(for="EmailField") Email:
					td: input#EmailField(type="email" name="email" value=user.email placeholder="NULL" required)

				tr
					th(scope="row"): label(for="PhoneField") Phone:
					td: input#PhoneField(type="text" name="phone" value=user.phone placeholder="NULL")

			button(type="submit").iAlignRight.mGreen Update Info

	.Flexbox.mCmpSpacing.mVertCenter
		div 
			h2.uNoWrap Account & Auth.
			p Manage auth. methods and account status

		.Divider

	form#PasswordForm(method="post" action="/user/edit-password")
		+ErrorWrapper("password"): .Box.Flexbox.mCol.mCmpSpacing 
			.rLabel Password Form

			input(type="hidden", name="uid", value=user._id)

			div
				label(for="OldPasswordField"): b Old Password
				input#OldPasswordField(type="password" name="old" required)

			div
				label(for="NewPasswordField"): b New Password
				input#NewPasswordField(type="password" name="new" placeholder="More than 8 chars." required)

			div
				label(for="ConfirmPasswordField"): b Confirm New Password
				input#ConfirmPasswordField(type="password" name="confirm" required)

			button(type="submit").mGreen.iAlignRight Update Password